@import "../Techtool/style";
@import "../../base";

.Blog_container {
  padding: 100px 10px 100px 10px;
  max-width: $max_width;
  margin: 0 auto;

  .container_heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .blogSec_tit {
      .blog {
        @include headingStyle();
      }
      .blog_sub_title {
        font-size: 0.8rem;
        font-family: poppins;
        font-weight: 500;
        color: #383838f0;
      }
    }

    .right_arrow {
      background: $secondary-color;
      width: 35px;
      height: 35px;
      display: grid;
      color: white;
      place-items: center;
      border-radius: 50%;
      cursor: pointer;

      svg {
        stroke-width: 2;
      }
    }
  }

  .article_wrap {
    display: grid;
    grid-gap: 2.5rem 1rem;
    margin-top: 2.5rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
