@import "../../_base";

.projectScreen_container {
  background-color: $primary-color;
  padding: 100px 10px 50px 10px;

  .back {
    color: white;
    background: $secondary-color;
    border-radius: 50%;
    position: fixed;
    width: 40px;
    height: 40px;
    left: 20px;
    top: 20px;
    font-size: 1.2rem;
    display: grid;
    place-items: center;
    cursor: pointer;
    z-index: 999;
  }

  .project_wrap {
    max-width: 800px;
    margin: 0 auto;
    color: white;
    font-family: "Montserrat", sans-serif;

    .project_title,
    .info_title {
      font-size: 2rem;
      color: white;
      margin-bottom: 1rem;
    }

    .project_sub {
      font-weight: 400;
      color: #ffffffc7;
      margin-bottom: 2rem;
      font-size: 1.2rem;
      line-height: 2rem;
    }

    .visit_btn {
      text-decoration: none;
      color: white;
      background: $secondary-color;
      padding: 10px 15px;
      margin: 0.5rem 0px;
      display: inline-block;
      font-size: 1.1rem;
      border-radius: 3px;
      transition: all 0.2s;
      box-shadow: 1px 5px 10px 3px #0808087a;
    }

    .slider {
      position: relative;
      margin-top: 2rem;
      margin-bottom: 5rem;
      transition: all 0.2s;

      &:hover {
        .prevButton,
        .nextButton {
          display: grid;
        }
      }

      .prevButton,
      .nextButton {
        position: absolute;
        top: 45%;
        background: black;
        z-index: 99;
        cursor: pointer;
        font-size: 2rem;
        place-items: center;
        padding: 10px 5px;
        display: none;

        @media (max-width: 800px) {
          display: none !important;
        }
      }

      .nextButton {
        right: 0px;
      }

      .slick-dots button:before {
        font-size: 10px;
        color: #cfcfcf;
      }

      .slick-dots li.slick-active button:before {
        color: whitesmoke;
      }
    }

    .project_info {
      .project_info_desc,
      .tech,
      .project_link {
        color: #ffffffc7;
      }

      .project_info_desc,
      .tech {
        font-size: 1.2rem;
        line-height: 2rem;
        margin-bottom: 3rem;
      }

      .tech {
        margin-left: 2rem;

        li {
          list-style: circle;
        }
      }

      .project_link {
        font-weight: 400;

        .link {
          color: white;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
