@import "../../base";
@import "../Education/style";

.certificate_container {
  background-color: $primary-color;
  padding: 0px 20px 50px 20px;
  color: white;

  .header {
    @include headingStyle();
  }

  .cer_wrapper {
    max-width: $max-width;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    img {
      width: 100%;
      border: 1px solid $secondary-color;
    }
  }
}
