@import "../../base";

.footer_container {
  background-color: $primary-color;
  padding: 50px 10px;
  text-align: center;

  #signature {
    margin-bottom: 1rem;
    stroke-dasharray: 862;
    stroke-dashoffset: 862;
    animation: sign 4s ease;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  @keyframes sign {
    to {
      stroke-dashoffset: 0;
    }
  }

  .social_links {
    font-family: "Montserrat", sans-serif;

    a {
      text-decoration: none;
      color: white;
      margin-right: 1.5rem;
      transition: all 0.2s;
    }

    a:last-child {
      margin-right: 0;
    }

    .fb:hover {
      color: #4267b2;
    }
    .git:hover {
      color: #444;
    }
    .youtube:hover {
      color: #ff0000;
    }
    .linked:hover {
      color: #0077b5;
    }
  }
}
