@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Montserrat:wght@400;500&family=Norican&family=Poppins:wght@400;500&display=swap");

$primary-color: #0e153a;
$secondary-color: #3d5af1;
$nav-height: 60px;
$max-width: 1200px;

// font-family: 'Caveat', cursive;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Norican', cursive;
