@mixin ButtonStyle() {
  text-decoration: none;
  color: white;
  background: $secondary_color;
  padding: 10px 55px;
  font-size: 1.1rem;
  transition: all 0.2s;
  cursor: pointer;
  display: flex;
  border: none;
  align-items: center;
}

@mixin headingStyle {
  font-family: "Montserrat";
  font-size: 1.3rem;
  margin-bottom: 3rem;
  font-weight: 500;
  position: relative;

  &::before {
    content: "";
    width: 50px;
    height: 4px;
    background: #3d5af1;
    position: absolute;
    bottom: -10px;
    border-radius: 50px;
  }
}
